.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li {
  flex: 0 0 calc(25% - 1rem); /* Divide the width by 4 and subtract margin */
  margin: 0.5rem;
  width: 160px; /* Adjust the width */
}

.list li a {
  height: 14.5rem; /* Adjust the height */
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  transition: color 0.3s;
}

.list li a:hover {
  color: #ffffff; /* Change the text color on hover */
}

/* Your existing styles */

.image {
  object-fit: cover;
  height: 10rem; /* Adjust the height */
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 4.5rem; /* Adjust the height */
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin: 0.5rem 0;
}

.product_item_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.origins {
  flex: 9;
}

.cook_time {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background-color: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
